bpjs_prpl/node_modules/
bpjs_prpl/.expo/
bpjs_prpl/dist/
bpjs_prpl/npm-debug.*
bpjs_prpl/*.jks
bpjs_prpl/*.p8
bpjs_prpl/*.p12
bpjs_prpl/*.key
bpjs_prpl/*.mobileprovision
bpjs_prpl/*.orig.*
bpjs_prpl/web-build/

# macOS
bpjs_prpl/.DS_Store

# Expo-generated patterns
bpjs_prpl/expo-env.d.ts

# Django
server/.env
server/myenv
server/__pycache__
bpjs_prpl/.env